<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"

	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
	<!-- project path {{ PROJECT_PATH }} -->
	<!-- static root {{ STATIC_ROOT }} -->
	<!-- static root {{ SITE_ROOT }} -->
	<!-- static url {{ STATIC_URL }} -->
        <style type="text/css" media="screen">
			

        </style>
        {% load staticfiles %}
        <link href="{{STATIC_URL}}map.css" rel="stylesheet"/>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
		<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <title>{% block title %}Tripchaingame{% endblock %}</title>
</head>

        {% block content %}{% endblock %}
</html>


