{% extends "base.html" %}
{% block content %}
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
        <script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
        //Options for locator
        var options = {
          enableHighAccuracy: true,
          timeout: 5000,
          maximumAge: 0
        };

        function error(err) {
          console.warn('ERROR(' + err.code + '): ' + err.message);
        };

       var lon = 24.938378999999998,
            lat = 60.16986300000001,
            zoom = 13,
            epsg4326 = new OpenLayers.Projection('EPSG:4326'),
            epsg900913 = new OpenLayers.Projection('EPSG:900913');

        function getLocation()
        {
          if (navigator.geolocation)
            {
            navigator.geolocation.getCurrentPosition(showPosition,error,options);
            }
          else{
                console.log("Geolocation is not supported by this browser.");
            }
        }
        
        function showPosition(position)
        {
            lat = position.coords.latitude;
            lon = position.coords.longitude;
	    console.log("changed pos "+lon+":"+lat);
        }
            function init(){
		getLocation();
                var map = new OpenLayers.Map ("map", {
                    controls: [
                        new OpenLayers.Control.Navigation(),
                        new OpenLayers.Control.Attribution()
                    ],
                    maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
                    maxResolution: 156543.0399,
                    numZoomLevels: 19,
                    units: 'm',
                    projection: new OpenLayers.Projection("EPSG:900913"),
                    displayProjection: new OpenLayers.Projection("EPSG:4326")
                });
                
                var osm = new OpenLayers.Layer.OSM.Mapnik('OSM');
                map.addLayer(osm);
                var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
		console.log("lonlat: "+lon+":"+lat);
                map.setCenter (lonLat, zoom);
                
                var featurecollection = {{trips|safe}};
		var geojson_format = new OpenLayers.Format.GeoJSON({
                    'internalProjection': new OpenLayers.Projection("EPSG:900913"),
                    'externalProjection': new OpenLayers.Projection("EPSG:4326")
                });
                for (var i = 0; i< featurecollection.length; i++) {

	                var vector_layer = new OpenLayers.Layer.Vector(); 
        	        map.addLayer(vector_layer);
			var json =featurecollection[i];
                	vector_layer.addFeatures(geojson_format.read(json));
			console.log(json);
		}
            };
        </script>
        </head>
        <body onload="init()">
            <div id="map"></div>
        </body>

{% endblock %}
