{% extends "base.html" %}
{% block content %}
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
        <script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
        
        //Vector visibility toggle
        $(document).ready(function(){
		    function walkingPoints()  
		          {if (walking.getVisibility() == true) 
		         {walking.setVisibility(false);}  
		         else  
		          {walking.setVisibility(true);}}
		    function stillPoints()  
		          {if (still.getVisibility() == true) 
		         {still.setVisibility(false);}  
		         else  
		          {still.setVisibility(true);}}
			function unknownPoints()  
		          {if (unknown.getVisibility() == true) 
		         {unknown.setVisibility(false);}  
		         else  
		          {unknown.setVisibility(true);}}
		$("#still").on("change", stillPoints);
		$("#walk").on("change", walkingPoints);
		$("#unknown").on("change", unknownPoints);
		});
        
        //Options for locator
        var options = {
          enableHighAccuracy: true,
          timeout: 5000,
          maximumAge: 0
        };

        function error(err) {
          console.warn('ERROR(' + err.code + '): ' + err.message);
        };
        
		var styleLine = {
                strokeColor: "red",
                strokeWidth: 8,
                strokeOpacity: 0.4,
            };
            
       var styleWalk = {
                strokeColor: "green",
                strokeWidth: 5,
                strokeOpacity: 0.4,
            };
       var styleStill = {
                strokeColor: "yellow",
                strokeWidth: 3,
                strokeOpacity: 0.4,
            };
            
		var unknown = new OpenLayers.Layer.Vector("Unknown", {style: styleLine});
		var walking = new OpenLayers.Layer.Vector("Walking", {style: styleWalk});
		var still = new OpenLayers.Layer.Vector("Still", {style: styleStill}); 

       var lon = 0,
            lat = 0,
            zoom = 13,
            epsg4326 = new OpenLayers.Projection('EPSG:4326'),
            epsg900913 = new OpenLayers.Projection('EPSG:900913');

        function getLocation()
        {
          if (navigator.geolocation)
            {
            navigator.geolocation.getCurrentPosition(showPosition,error,options);
            }
          else{
                console.log("Geolocation is not supported by this browser.");
            }
        }
        
        function showPosition(position)
        {
            lat = position.coords.latitude;
            lon = position.coords.longitude;
	    	console.log("changed pos "+lon+":"+lat);
	    	init();
        }
            function init(){
                var map = new OpenLayers.Map ("map", {
                    controls: [
                        new OpenLayers.Control.Navigation(),
                        new OpenLayers.Control.Attribution(),
                        new OpenLayers.Control.Zoom()
                    ],
                    maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
                    maxResolution: 156543.0399,
                    numZoomLevels: 19,
                    units: 'm',
                    projection: new OpenLayers.Projection("EPSG:900913"),
                    displayProjection: new OpenLayers.Projection("EPSG:4326")
                });
                
                var osm = new OpenLayers.Layer.OSM.Mapnik('OSM');
                map.addLayer(osm);
                var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
				console.log("lonlat: "+lon+":"+lat);
				var markers = new OpenLayers.Layer.Markers( "Markers" );
				map.addLayer(markers);
				markers.addMarker(new OpenLayers.Marker(lonLat));
                map.setCenter (lonLat, zoom);
                
                var featurecollection = {{trips|safe}};
				var geojson_format = new OpenLayers.Format.GeoJSON({
                    'internalProjection': new OpenLayers.Projection("EPSG:900913"),
                    'externalProjection': new OpenLayers.Projection("EPSG:4326")
                });
                for (var i = 0; i< featurecollection.length; i++) {
                
	        	    map.addLayer(unknown);
	        	    map.addLayer(walking);
	        	    map.addLayer(still);
	        	    
					var json =featurecollection[i];
					
					//console.log(json);
					if(json.features.length > 0){
	                	for (var j = 0; j< json.features.length; j++) {
	                		var act = json.features;
	                		var activity = act[j].properties.activity;
							if(activity == "on-foot"){
							console.log("testing walking");
								walking.addFeatures(geojson_format.read(json));
							} else if(activity == "still"){
								still.addFeatures(geojson_format.read(json));
							} else {
								unknown.addFeatures(geojson_format.read(json));
							}
						}
					} else {
						console.log("Fucked up: "+json.features.length);
						console.log(json);
					}
				}
            };
            //$('#key').draggable();
        </script>
        </head>
        <body onLoad="getLocation()">
            <div id="map"></div>
            <div id="key">
            	<span class="plaintextHeader"> Vector visibility setup </span>
            	<span class="plaintext">
					<input name="walk" type="checkbox" class="newstext" id="walk"  checked>
					Walking trips
				</span>
				<span class="plaintext">
					<input name="still" type="checkbox" class="newstext" id="still" checked>
					Still
				</span>
				<span class="plaintext">
					<input name="unknown" type="checkbox" class="newstext" id="unknown" checked>
					Unknown
				</span>
				</div>
        </body>

{% endblock %}
