{% extends "base.html" %}
{% block content %}
		<!-- 
		{{places|safe}}
		-->
        <script type="text/javascript" charset="utf-8">
        		{% if user.is_authenticated %}
        			var places = {{places|safe}};
        			console.log({{places|safe}});
        		{% else %}
        			var places =0;
        		{% endif %}
                var trips = {{trips|safe}};
        
        </script>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
	<!--<script src="{{STATIC_URL}}openlayers.js"></script-->
    <script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}ourmap.js"></script>

        </head>
        <body onLoad="getLocation()">
        	<div id="content">
        	<div id="header">
                <!--div id="headerContent"-->
                <form id="google-plus" method="post" action="{% url 'social:complete' "google-plus" %}">{% csrf_token %}
                    <input id="at" type="hidden" name="access_token" value=""/>
                    <input id="code" type="hidden" name="code" value=""/>
                </form>
                {% if not user.is_authenticated %}
                    <div id="signinButton" style="padding: 0.5%;">

                               <span class="g-signin"
                                     data-scope="{{ plus_scope }}"
                                     data-clientid="{{ plus_id }}"
                                     data-redirecturi="postmessage"
                                     data-accesstype="online"
                                     data-cookiepolicy="single_host_origin"
                                     data-callback="signInCallback">
                               </span>
                    </div>
                {% else %}
                    <div class="helloText" style="color: #FFFFFF;"> Hi, {{ user.get_full_name }}!</div>
                    <form action="/logout">
                        <input id="submit" type="submit" value="Logout">
                    </form>
                {% endif %}
				<!--/div-->
        	</div>
	            <div id="map">
	            </div>
	            <!--<div id="bubbles">
	            	<p class="speech">SitePoint Rocks!</p>
	            </div>-->
	            <div id="key">
	            	<span class="plaintextHeader"> Vector visibility setup </span>
	            	<span class="plaintext">
						<input name="walk" type="checkbox" class="newstext" id="walk"  checked>
						Walking trips
					</span>
					<span class="plaintext">
						<input name="bike" type="checkbox" class="newstext" id="bike"  checked>
						Bike trips
					</span>
					<span class="plaintext">
						<input name="still" type="checkbox" class="newstext" id="still" checked>
						Still
					</span>
					<span class="plaintext">
						<input name="unknown" type="checkbox" class="newstext" id="unknown" checked>
						Unknown
					</span>
					<span class="plaintext">
						<input name="vehicle" type="checkbox" class="newstext" id="vehicle" checked>
						Vehicle
					</span>
					<span class="plaintext">
						<input name="locations" type="checkbox" class="newstext" id="locations" checked>
						Places
					</span>
					{% if user.is_authenticated %}
					<form method="POST">
					    {% csrf_token %}
					    Select dates: <input type="text" name="start_date" style="width:80px" id="start_date" value="{{start_date}}"> - 
					    <input type="text" name="end_date" style="width:80px" id="end_date" value="{{end_date}}">
					    <input type="submit" value="Search" id="submit" >
					</form>
					{% endif %}
				</div>
			</div>
        </body>

{% endblock %}
