.plaintext {
	font-size: 1.1em;
   	color: white;
   	font-weight:bold;
   	display: block;
   	margin-bottom: 3px;
   	margin-left: 7px;
}
.line {
	display: inline-block;
}

.value_result{
	font-size: 0.7em;
	color: white;
}
.header_result{
	font-size: 1.0em;
	color: white;
	font-weight:bold;
}

.menu_button {
    background-color: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: white;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border: 4px solid #1952ff;
}

.menu_button:hover {
    border: 4px solid #1952ff;
    background: white;
    color: black;
    box-shadow: 0px 0px 1px #777;
}

p.speech
{
	position: relative;
	width: 200px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

p.speech:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 100px;
	border: 25px solid;
	border-color: #666 transparent transparent #666;
}

p.speech:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
	top: 100px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

p.thought
{
	position: relative;
	width: 130px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 58px;
	-moz-border-radius: 58px;
	border-radius: 58px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

p.thought:before, p.thought:after
{
	left: 10px;
	top: 70px;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
}

p.thought:after
{
	width: 20px;
	height: 20px;
	left: 5px;
	top: 100px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
			
.plaintextHeader {
	font-size: 1.3em;
	color: white;
	font-weight:bold;
	display: block;
	margin-bottom: 5px;
	margin-left: 5px;
}

			
			.mapposn {
			    display: block;
			    position: absolute;
			    left: 0px;
			    top: 0px;
			    height: 100%;
			    width: 100%;
			}
			#map { 	
				height: 93%;
				width: 100%;
				position: relative;
			 }
			#key {
			    //height: 350px;
			    width: 400px;
			    position: absolute;
			    left: 80%;
			    margin-left: -150px;
			    font-family: Verdana, Geneva, sans-serif;
			    font-size: small;
			    color:white;
			    background-color:rgba(0,0,0,0.7);//rgba(25,82,255,0.7);
			    top: 10%;
			    padding-left: 10px;
			    padding-top: 3px;
			    border: 4px solid #1952ff;//#00a86b;
			    border-radius: 20px;
				
			}
			#header {
			    height: 7%;
			    width: 100%;
			    position: relative;
			    color= #FFFFFF;
			    font-family: Verdana, Geneva, sans-serif;
			    font-size: small;
			    background-color:black;
			    top: 0px;			
			    //box-shadow: 5px 5px 10px #888888;
			} 
			#headerContent {
			    height: 100%;
			    width: 100%;
			    position: absolute;
			    color= #FFFFFF;
			    font-family: Verdana, Geneva, sans-serif;
			    font-size: small;
			    background-color:black;
			    top: 5px;			
			    box-shadow: 5px 5px 10px #888888;
			} 
			#content
			{
			    position: absolute;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
			    background-color: #DFD4CA;
			    //padding-left: 260px;
			}
			
			.helloText {
				color= #FFFFFF;
				font-family: Verdana, Geneva, sans-serif;
			}
}  
